header{


	

			nav{
				width: 80%;
				position: absolute;
				display: none;
				padding-bottom: 40px;
				background-color: #fff;
				height: 100vh;
				right: 0;
				z-index: 999;

				ul{
					padding-top: 80px;

					li{
						a{
							display: block;
							border-top:1px solid #f1d7d7;
							padding: 10px 0 10px 0;
							padding-left: 20px;
							text-transform: uppercase;
							text-decoration: none;
							color: #000;
						
						}

						.nav-last-child {
								border-bottom: 1px solid #f1d7d7;
							}


						}

						
				}

				
			}


	.active{
			display: block;
			
		}

	.active-nav-menu{
		color:#ff3d00;
		background-color: #e620200a;
	
	}

	

	.button-container{
					position: fixed;
					top: 30px;
					right: 20px;
					z-index: 999;

					@include tablet{
						display: none;
					}


				
				.button{
					position: relative;
					width: 40px;
					height: 35px;
					border-top: 5px solid #fff;
					transition: 0.2s transform linear;
					background-color: transparent;
					border-right: 0px;
					border-left: 0px;
					outline: none;
					border-bottom: 0px;
						
				}

				.button:before, .button:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					border-top: 5px solid #fff;
					transform: translateY(10px);
					outline: none;
				}

				.button::after{
					transform: translateY(25px);
					transition: 0.2s transform linear;

					
				}

				 .button-active{
					transform: rotate(45deg) translateY(5px);
					border: none;
					outline: none;
				}
				 
				.button.button-after:after{
					transform: rotate(-90deg) translateX(-10px);
					border-top: 5px solid #000;

				}

				.button.button-before:before{
					border-top: 5px solid #000;

				}

			}


			.logo{
				position: absolute;
				z-index: 99;
				top: 30px;
				left: 50%;
				transform: translateX(-50%);
			}


			.header-content{
				position: absolute;
				z-index: 9;
				top: 120px;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				color: #fff;
				width: 300px;

				h1{

					font-size: 2.7rem;
					text-transform: uppercase;
					padding-top: 10px;
					letter-spacing: .4rem;
				}

				h3{
					font-size: .9rem;
					letter-spacing: .2rem;

				}

				span{
					display: block;
					background: url(../img/header-span.png) no-repeat;
					width: 220px;
					height: 30px;
					margin: 0 auto;


				}
				p{
					font-size: .9rem;
					padding-bottom: 30px;
					color: #cbc6c0;
				}

				a{
					display: block;
					width: 200px;
					height: 20px;
					text-transform: uppercase;
					color: #fff;
					padding: 15px 0 15px 0;
					background-color: #e74c3c;
					text-decoration: none;
					border-radius: 1px;
					text-align: center;
					margin:0 auto;
				}

			}
			.wrapp{
				position: relative;
				width: 100%;

			
			.carousel{
				position: relative;
				

				.slider{
					
					width: 100%;
					height: 100vh;
					/* -webkit-clip-path: polygon(51% 0, 100% 0, 100% 32%, 100% 54%, 100% 92%, 50% 100%, 0 92%, 0 63%, 0 34%, 0 0);
						clip-path: polygon(51% 0, 100% 0, 100% 32%, 100% 54%, 100% 92%, 50% 100%, 0 92%, 0 63%, 0 34%, 0 0); */

						img{
						height: 100vh;
						width: 100%;
						
					}
					


				}

			}
			.cover-image{
						-webkit-clip-path: polygon(50% 59%, 100% 0, 100% 32%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
						clip-path: polygon(50% 59%, 100% 0, 100% 32%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
						z-index: 99999;
						background-color: #fff;
						height: 80px;
						position: absolute;
						width: 100%;
						bottom: 0;
						


				}

		}





}