html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
  /* @include desktop{
		width: 1024px;
		margin: 0 auto;
	} */ }

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif; }

/*resize*/
/*animation for caruzel mobile*/
@-webkit-keyframes caruzel_1_mobile {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%); }
  50% {
    -webkit-transform: translateX(130%) translateY(10%) scale(1);
    transform: translateX(130%) translateY(10%) scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes caruzel_1_mobile {
  0% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%); }
  50% {
    -webkit-transform: translateX(130%) translateY(10%) scale(1);
    transform: translateX(130%) translateY(10%) scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes caruzel_2_mobile {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-130%) translateY(-10%) scale(1);
    transform: translateX(-130%) translateY(-10%) scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes caruzel_2_mobile {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-130%) translateY(-10%) scale(1);
    transform: translateX(-130%) translateY(-10%) scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

header nav {
  width: 80%;
  position: absolute;
  display: none;
  padding-bottom: 40px;
  background-color: #fff;
  height: 100vh;
  right: 0;
  z-index: 999; }
  header nav ul {
    padding-top: 80px; }
    header nav ul li a {
      display: block;
      border-top: 1px solid #f1d7d7;
      padding: 10px 0 10px 0;
      padding-left: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000; }
    header nav ul li .nav-last-child {
      border-bottom: 1px solid #f1d7d7; }

header .active {
  display: block; }

header .active-nav-menu {
  color: #ff3d00;
  background-color: #e620200a; }

header .button-container {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 999; }
  @media (min-width: 768px) {
    header .button-container {
      display: none; } }
  header .button-container .button {
    position: relative;
    width: 40px;
    height: 35px;
    border-top: 5px solid #fff;
    -webkit-transition: 0.2s -webkit-transform linear;
    transition: 0.2s -webkit-transform linear;
    -o-transition: 0.2s transform linear;
    transition: 0.2s transform linear;
    transition: 0.2s transform linear, 0.2s -webkit-transform linear;
    background-color: transparent;
    border-right: 0px;
    border-left: 0px;
    outline: none;
    border-bottom: 0px; }
  header .button-container .button:before, header .button-container .button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #fff;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    outline: none; }
  header .button-container .button::after {
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    -webkit-transition: 0.2s -webkit-transform linear;
    transition: 0.2s -webkit-transform linear;
    -o-transition: 0.2s transform linear;
    transition: 0.2s transform linear;
    transition: 0.2s transform linear, 0.2s -webkit-transform linear; }
  header .button-container .button-active {
    -webkit-transform: rotate(45deg) translateY(5px);
    -ms-transform: rotate(45deg) translateY(5px);
    transform: rotate(45deg) translateY(5px);
    border: none;
    outline: none; }
  header .button-container .button.button-after:after {
    -webkit-transform: rotate(-90deg) translateX(-10px);
    -ms-transform: rotate(-90deg) translateX(-10px);
    transform: rotate(-90deg) translateX(-10px);
    border-top: 5px solid #000; }
  header .button-container .button.button-before:before {
    border-top: 5px solid #000; }

header .logo {
  position: absolute;
  z-index: 99;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

header .header-content {
  position: absolute;
  z-index: 9;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  width: 300px; }
  header .header-content h1 {
    font-size: 2.7rem;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: .4rem; }
  header .header-content h3 {
    font-size: .9rem;
    letter-spacing: .2rem; }
  header .header-content span {
    display: block;
    background: url(../img/header-span.png) no-repeat;
    width: 220px;
    height: 30px;
    margin: 0 auto; }
  header .header-content p {
    font-size: .9rem;
    padding-bottom: 30px;
    color: #cbc6c0; }
  header .header-content a {
    display: block;
    width: 200px;
    height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 0 15px 0;
    background-color: #e74c3c;
    text-decoration: none;
    border-radius: 1px;
    text-align: center;
    margin: 0 auto; }

header .carousel .slider {
  width: 100%;
  height: 100vh; }
  header .carousel .slider img {
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(51% 0, 100% 0, 100% 32%, 100% 54%, 100% 92%, 50% 100%, 0 92%, 0 63%, 0 34%, 0 0);
    clip-path: polygon(51% 0, 100% 0, 100% 32%, 100% 54%, 100% 92%, 50% 100%, 0 92%, 0 63%, 0 34%, 0 0); }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  width: 100%;
  margin-bottom: 60px; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

/** THEME
===================================*/
/* .bx-wrapper {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;


} */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("../img/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  top: 500px;
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff0;
  text-indent: -9999px;
  display: block;
  border: 1px solid #adadad;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #adadad; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("../img/controls.png") no-repeat 0 -32px; }

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("../img/controls.png") no-repeat -43px -32px; }

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("../img/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("../img/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.bx-viewport {
  height: 200px; }

.bar {
  content: url("../img/bar.jpg"); }
  @media (min-width: 768px) {
    .bar {
      content: url("../img/barPC.png"); } }

.lotek {
  content: url("../img/lotek.jpg"); }
  @media (min-width: 768px) {
    .lotek {
      content: url("./img/lotekPC.png"); } }

.garbage {
  content: url("../img/garbage.jpg"); }
  @media (min-width: 768px) {
    .garbage {
      content: url("../img/garbagePc.png"); } }

.box {
  content: url("../img/box.jpg"); }
  @media (min-width: 768px) {
    .box {
      content: url("./img/boxAgencja.png"); } }

.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 25px; }
  .about .about-container .about-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .about .about-container .about-row .cover span {
      background: url(../img/clean_code.png);
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto; }
    .about .about-container .about-row h3 {
      font-size: 2rem;
      text-align: center; }
    .about .about-container .about-row .cover-separate {
      margin-top: 10px;
      margin-bottom: 10px; }
      .about .about-container .about-row .cover-separate span {
        background: url(../img/span.png);
        background-repeat: no-repeat;
        width: 80px;
        height: 5px;
        display: block;
        margin: 0 auto; }
    .about .about-container .about-row p {
      padding-bottom: 40px;
      color: #a6a6a6; }

/* @import '_nav_mobile.scss'; */
